In [14]:
import pandas as pd
excel_file = 'metadata_author.xlsx'
m = pd.read_excel(excel_file)

In [18]:
m['author_name'] = m['author_name'].str.get(0)

In [20]:
m

   author_name
0            [
1
2
3
4
..         ...
81
82
83
84
85

[86 rows x 1 columns]